<%= form_for(@subscription) do |f| %>
  <% if @subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <b><%= f.label :subscription_description %></b>
    <%= f.text_field :subscription_description %>
  </div>
  <div class="field">
    <b>Use Business Hours per User Profile</b>
    <%= f.radio_button :use_business_hrs, "1" %> Yes
    <%= f.radio_button :use_business_hrs, "0" %> No
  </div>
  <br><b>List Rules</b><br>
    <% if @subscription.rules.empty? %>
        No Rules Defined <br>
    <% else %>
        <% @subscription.rules.each do |rule| %>
            <div id="rule">
              <% h rule.syntax_message %>
            </div>
        <% end %>
    <% end %>
  <%= link_to "Add New Rule", new_subscription_rule_url(:subscription, :rule) %>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
